@import '_reset';


@mixin flex($flex-alignItems: flex-start, $flex-justifyContent: flex-start, $flex-flexWrap: nowrap, $flex-flexDirection: row) {
	display: flex;
	flex-direction: $flex-flexDirection;
	align-items: $flex-alignItems;
	justify-content: $flex-justifyContent;
	flex-wrap: $flex-flexWrap;
}


svg {
	vertical-align: bottom;
}

@keyframes pfadeIn {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
			opacity: 0;
	}
}



@keyframes fadeInLeft {
	0% {
			opacity: 0;
			transform: translate3d(-50%, 0, 0);
	}

	50% {
			opacity: 1;
			transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(50%, 0, 0);
}
}

@keyframes fadeInLeft2 {
	0% {
			opacity: 0;
			transform: translate3d(100%, 0, 0);
	}

	50% {
			opacity: 1;
			transform: translate3d(0, 0, 0);
	}

	100% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
}
}


@keyframes rotate3dInLeft {
	0% {
			opacity: 1;
			transform-origin: 0% 0;
	}

	100% {
			opacity: 1;
			transform-origin: 0 0;
	}
}

@keyframes foot {
	0% {
			transform: translateX(20px);
	}

	50% {
		transform: translateX(0px);
	}

	100% {
		transform: translateX(20px);
	}
}

@keyframes swing {
	20% {
			transform: rotate3d(0, 0, 1, 2deg);
	}

	40% {
			transform: rotate3d(0, 0, 1, -1deg);
	}

	60% {
			transform: rotate3d(0, 0, 1, 3deg);
	}

	80% {
			transform: rotate3d(0, 0, 1, -5deg);
	}

	to {
			transform: rotate3d(0, 0, 1, 0deg);
	}
}


@keyframes bag {
	0% {
		fill: #F4C903;
	}

	50% {
		fill: #584b11;
	}

	100% {
		fill: #F4C903;
	}
}

@keyframes headShake {
	0% {
			transform: translateX(0);
	}

	5% {
			transform: translateY(-1px);
	}

	18% {
			transform: translateY(2px);
	}

	31% {
			transform: translateY(-2px);
	}

	43% {
			transform: translateY(2px);
	}

	50% {
			transform: translateY(0);
	}
}


@keyframes grib1 {
	0% {
		fill: #3C3C3C;
	}

	50% {
		fill: #F4C903;
	}

	100% {
		fill: #3C3C3C;
	}
}

@keyframes grib2 {
	0% {
		fill: #2F3030;
	}

	50% {
		fill: #8B8B8B;
	}

	100% {
		fill: #2F3030;
	}
}


.grib1 {
	animation: grib1 3000ms infinite;
	animation-delay: 1s;
}
.grib2 {
	animation: grib1 5000ms infinite;
	animation-delay: 2s;
}
.grib3 {
	animation: grib2 2000ms infinite;
	animation-delay: 1s;
}

.head {
	animation: headShake 3000ms infinite;
}

.logo {
	animation: pfadeIn 3000ms infinite;

	&:hover {
		animation: paused;
	}
}

.bag {
	animation: bag 3000ms infinite;
}

.metla {
	animation: swing 5000ms infinite both;
}

.foot {
	animation-delay: .5s !important;
	animation: foot 3000ms infinite both;
}

.foot1 {
	animation-delay: 0s !important;
	animation: foot 3000ms infinite both;
}

.foot2 {
	animation-delay: 1s !important;
	animation: foot 3000ms infinite both;
}

.foot3 {
	animation-delay: .3s !important;
	animation: foot 3000ms infinite both;
}

.foot4 {
	animation-delay: 1.2s !important;
	animation: foot 3000ms infinite both;
}

.foot5 {
	animation-delay: .6s !important;
	animation: foot 3000ms infinite both;
}

.smoke-1 {
	animation: pfadeIn 3000ms infinite both;
	opacity: 0;
}


.smoke-2 {
	animation: fadeInLeft linear 15000ms infinite both;
}

.smoke-4 {
	animation: fadeInLeft2 linear 25000ms infinite both;
}


.smoke-3 {
	animation: pfadeIn linear 15000ms infinite both;
}


.marquee {
	font-weight: 300;
	font-size: 50px;
	color: #000000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	background: #F4C903;
	border: 3px solid #000000;

	@media (max-width: 1440px) {
		font-size: 38px;
	}

	@media (max-width: 1440px) {
		font-size: 38px;
	}

	@media (max-width: 1366px) {
		font-size: 36px;
	}
	@media (max-width: 1024px) {
		font-size: 33px;
	}

	@media (max-width: 414px) {
		font-size: 28px;
	}

	@media (max-width: 360px) {
		font-size: 24px;
	}
 }
 
 .marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 10s linear infinite;
 }
 
//  .marquee span:hover {
// 	animation-play-state: paused
//  }
 
 @keyframes marquee {
	0%   { transform: translate(0, 0); }
	100% { transform: translate(-100%, 0); }
 }


.desktop1920 {
	width: 100%;
	display: block;

	@media (max-width: 768px) {
		display: none;
	}
}

.tablet768 {
	width: 100%;
	display: none;

	@media (max-width: 768px) {
		display: block;
	}

	@media (max-width: 414px) {
		display: none;
	}
}

.smart414 {
	display: none;

	@media (max-width: 414px) {
		display: block;
	}

	@media (max-width: 360px) {
		display: none;
	}
}

.smart360 {
	display: none;

	@media (max-width: 360px) {
		display: block;
	}
}